<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	    <meta name="description" content="Log in">
	    <meta name="author" content="Zhiqiao Lin">
	    <link rel="icon" href="./images/favicon.ico">
	    
	    <title>Grumblr Login</title>
	    
	    <!-- Bootstrap core CSS -->
	    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

	    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	    <link href="{% static 'bootstrap/docs/assets/css/ie10-viewport-bug-workaround.css' % }" rel="stylesheet">
	    
	    <!-- Custom styles for this template -->
    	<!--<link href="./css/login.css" rel="stylesheet">-->
		<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    	
    	<script src="{% static 'bootstrap/docs/assets/js/ie-emulation-modes-warning.js' % }"></script>
    	
	</head>
	
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target = "#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/grumblr/mainpage">Grumblr</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<div class="navbar-form navbar-right">
						<a href="register" class="btn btn-success">Sign Up</a>
					</div>
			    </div><!--/.nav-collapse -->
			</div>
		</nav>
		
		<div class="container">
			<div class="row">
				<form method="post" action="{% url 'login' %}" class="col-sm-4 col-xs-12 col-lg-6 form-signin">
					{% if form.errors %}
					<p style="color:red">
					Incorrect user name and password.
					</p>
					{% endif %}

					<div class="row">
						<div class="col-xs-2 col-lg-2">
		      				<img src="{% static 'images/user.png' %}" width="35" height="35">
						</div>
						<div class="col-xs-10 col-lg-10">
		      				<label for="inputUsername" class="sr-only">Username</label>
							<input type="text" id="inputUsername" class="form-control" placeholder="Username" name="username" required autofocus>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2 col-lg-2">
		      				<img src="{% static 'images/password.png' %}" width="35" height="35">
						</div>
						<div class="col-xs-10 col-lg-10">
							<label for="inputPassword" class="sr-only">Password</label>
							<input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
						</div>
					</div>
					
		        	<div class="row">
		        		<div class="col-xs-12 col-lg-6">
		        			<div class="checkbox">
						       	<label>
						          	<input type="checkbox" value="remember-me"> Remember me
						        </label>
				        	</div>
							<p><a href="#">Forgot Password?</a></p>
						</div>
		        		<div class="col-xs-12 col-lg-6">
		        			<input value="Sign in" class="btn btn-lg btn-primary btn-block" type="submit">
		        		</div>
					</div>

					<input type="hidden" name="next" value="mainpage" />
					{% csrf_token %}
				</form><!-- form -->
				
				<div id="welcomeCol" class="col-sm-6 col-xs-12 col-lg-4 container">
					<div>
						<img id="welcomeImg" src="{% static 'images/welcome_logo.png' %}" height="300px" width="520px" >
					</div>
				</div><!-- picture -->
				
			</div><!-- row -->
		</div> <!-- container -->
				
		<!-- Bootstrap core JavaScript
	    ================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
	    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
	    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	    <script src="{% static 'bootstrap/docs/assets/js/ie10-viewport-bug-workaround.js' %}"></script>
	</body>
</html>