@import "base.css";

body {
  padding-top: 120px;
  padding-bottom: 40px;
}


.time {
    color: #999;
    padding-left: 15px;
}


.list-group {
  margin-left: 30px;
}

.blog-post {
    padding-top: 10px;
}

#username {
  color: #ffffff;
}

#friendsearch {
  position: absolute;
  top:7px;
  right:5px;
}
