@import "base.css";

body {
  padding-top: 50px;
  padding-bottom: 40px;
}

.container {
    padding-top: 20px;
}


.list-group {
    margin-left: 30px;
}


.time {
    color: #999;
    padding-left: 15px;
}

#username {
    color: #ffffff;
}

#profile_picture, #info {
    padding-left : 30px;
    margin-bottom: auto;
    height : 220px;
    width : 385px;
}

#small_profile_picture {
    height : 45px;
    width : 45px;
}

#name {
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;

    position: absolute;
    top: 185px;
    right:15px;
}

#sidebar {
    padding-right: 50px;
    width: 450px;
}

#upper {
    height: 350px;
    background-image: url('../images/background.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    width: 80%;
}

#profile {
    position: absolute;
    bottom: 200px;
    left: 80px;
}


#post_row {
    padding: 15px;
}

#small_profile_picture {
    height : 50px;
    width : 50px;
    margin : 5px;
}

#comment_profile_picture {
    height : 40px;
    width : 40px;
    margin : 5px;
}

.comment-block {
    background-color: #eee;
}

.comment-list {
    margin-top : 20px;
}

.comment-line {
    margin-top : 15px;
    margin-right: 60px;
}
.btn-edit, .btn-follow, .btn-unfollow {
    position: absolute;
    right: 10px;
}
