<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>Private Todo List -- Login</title>
</head>

<body>
{% if form.errors %}
<p style="color:red">
Incorrect user name and password.
</p>
{% endif %}

<p>
Log in to see your private todo list:
</p>
<form method="post" action="{% url 'login' %}">
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="Login" />
<a href="/private-todo-list/register">Register</a>
<input type="hidden" name="next" value="{{ next }}" />
{% csrf_token %}
</form>

</body>
</html>

