<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>A Simple Shared Todo List</title>
</head>

<body>
{% for error in errors %}
<p style="color:red">
{{error}}
</p>
{% endfor %}

<p>
Current todo list:
<ol>
{% for item in items %}
  <li> <a href="/shared-todo-list/delete-item/{{item.id}}">X</a> {{item}}
{% endfor %}
</ol>
</p>

<form action="/shared-todo-list/add-item" method="post">
  Item to add: <input type="text" name="item">
               <input type="submit" text="Add item">
  {% csrf_token %}
</form>

</body>
</html>

