{% extends "grumblr/base.html" %}
{% load static %}
{% block title %}Grumblr Login{% endblock %}{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}
{% block description %}<meta name="description" content="Log in">{% endblock %}
{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target = "#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/grumblr/mainpage">Grumblr</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<div class="navbar-form navbar-right">
				<a href="register" class="btn btn-success">Sign Up</a>
			</div>
		</div><!--/.nav-collapse -->
	</div>
</nav>

<div class="container">
	<div class="row">
		<form method="post" action="{% url 'login' %}" class="col-sm-4 col-xs-12 col-lg-6 form-signin">
			{% if form.errors %}
			<p style="color:red">
			Incorrect user name and password.
			</p>
			{% endif %}

			<div class="row">
				<div class="col-xs-2 col-lg-2">
					<img src="{% static 'images/user.png' %}" width="35" height="35">
				</div>
				<div class="col-xs-10 col-lg-10">
					<label for="inputUsername" class="sr-only">Username</label>
					<input type="text" id="inputUsername" class="form-control" placeholder="Username" name="username" required autofocus>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-2 col-lg-2">
					<img src="{% static 'images/password.png' %}" width="35" height="35">
				</div>
				<div class="col-xs-10 col-lg-10">
					<label for="inputPassword" class="sr-only">Password</label>
					<input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-lg-6">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="remember-me"> Remember me
						</label>
					</div>
					<p><a href="{% url 'go_reset' %}">Forgot Password?</a></p>
				</div>
				<div class="col-xs-12 col-lg-6">
					<input value="Sign in" class="btn btn-lg btn-primary btn-block" type="submit">
				</div>
			</div>

			<input type="hidden" name="next" value="mainpage" />
			{% csrf_token %}
		</form><!-- form -->

		<div id="welcomeCol" class="col-sm-6 col-xs-12 col-lg-4 container">
			<div>
				<img id="welcomeImg" src="{% static 'images/welcome_logo.png' %}" height="300px" width="520px" >
			</div>
		</div><!-- picture -->

	</div><!-- row -->
</div> <!-- container -->

{% endblock %}
