{% extends "grumblr/base.html" %}
{% load static %}
{% block title %}Grumblr Profile{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block description %}<meta name="description" content="Profile">{% endblock %}
{% block js %}
    <script src="{% static 'js/profile.js' %}" type="text/javascript"></script>
{% endblock %}
{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top" name="{{ user.username }}">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target = "#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{% url 'home' %}">Grumblr</a>
		</div>

		<div id="navbar" class="collapse navbar-collapse">
			<form class="navbar-form navbar-right">
				<input type="text" class="form-control" placeholder="Search...">
				<img src="{% static 'images/search_white.png' %}" width="25" height="25">
				<img src="{% static 'images/account.png' %}" width="25" height="25">
				<a id="username" href="{% url 'profile' request.user.username %}">{{ request.user.first_name }} {{ request.user.last_name }}</a>
				<a href="{% url 'logout' %}" class="btn btn-info">Sign out</a>
			</form>

		</div><!--/.nav-collapse -->
	</div>
</nav>

<!--profile background picture in this container-->
<div class="container" id="upper">
</div>


<div class="container">
	<div class="row">

		<div class="col-xs-12 col-sm-6 sidebar-offcanvas" id="sidebar">
			<div class="row">
				<div class="col-xs-8 col-sm-8">
					{% if profile.picture.name %}
					<img src="{% url 'photo' user.username %}" id="profile_picture">
					{% else %}
					<img src="{% static 'images/profile_picture.jpg' %}" id="profile_picture">
					{% endif %}
				</div>

				<div class="col-xs-4 col-sm-4">
					<h4 id="name"> {{ user.first_name }} {{ user.last_name }} </h4>
				</div>
			</div>
			<br>

			<div class="list-group" id="info_bar">
				<div class="list-group-item active"><img id="friendsearch" src="{% static 'images/account.svg' %}" width="35" height="35">Info
					{% if user == request.user %}
					<a class="btn btn-default" href="{% url 'go_edit' %}">Edit Profile</a>
					{% elif user in followees %}
					<a class="btn btn-warning" href="{% url 'unfollow' user.username %}">Unfollow</a>
					{% else %}
					<a class="btn btn-info" href="{% url 'follow' user.username %}">Follow</a>
					{% endif %}
				</div>
			</div>

			<div id="info">
				<h5>First Name: {{user.first_name}}</h5>
				<h5>Last Name: {{user.last_name}}</h5>
				<h5>Age: {{profile.age}}</h5>
				<h5>Bio:</h5>
				<p> {{profile.bio}} </p>
			</div>

		</div><!--/.profile info-->

		<div class="col-xs-12 col-sm-6 blog-main">
			<!--all the posts are listed here-->
			<div id='post-list'></div>
		</div>

	</div><!--/row-->
</div><!--/.container-->

{% endblock %}
