{% extends "grumblr/base.html" %}
{% load static %}
{% block title %}Grumblr Reset Password{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
{% endblock %}
{% block description %}<meta name="description" content="Reset Password">{% endblock %}
{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target = "#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/grumblr/mainpage">Grumblr</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<div class="navbar-form navbar-right">
				<a href="mainpage" class="btn btn-success">Sign In</a>
			</div>
		</div>
	</div>
</nav>

<div class="container">
	<div class="row">
		{% for error in form.non_field_errors %}
		<p style="color: red">
		{{ error }}
		</p>
		{% endfor %}
        <h1>Reset Your Password</h1>
		<form method="post" class="form-signin" action="{% url 'reset_password' %}">
            <input id="inputEmail" type="email" class="form-control" placeholder="Email" name="email" required >

			<div class="row">
				<div class="col-xs-8 col-lg-8">
					<input class="btn btn-lg btn-danger btn-block" type="submit" value="Send Email">
				</div>
			</div>
			{% csrf_token %}
		</form><!-- form -->


	</div><!-- row -->
</div> <!-- container -->

{% endblock %}